gpuowl
version.inc
*-wrap.cpp
*-wrap.cl
version.new
config.txt
gpuowl.log
worktodo.txt
results.txt
results.old
sent.txt
sent.old
*.owl
*.bak
*.o
*.so
tmp/
tmp?/
cuda/
cmake-build-*/
.idea
.sconsign.dblite
.d
gpuowl-expanded.cl
gpuowl.exe
__pycache__
core
pm1/pm1
D
comgr.log
\#*\#
trashbin
proof
