gpuowl
version.inc
version.new
config.txt
gpuowl.log
worktodo.txt
*.owl
*.bak
*.o
tmp/
tmp?/
cuda/
cmake-build-*/
.idea
.sconsign.dblite
.d
gpuowl-expanded.cl
gpuowl.exe
__pycache__
core
pm1/pm1
D
comgr.log
\#*\#
trashbin
proof
build/
