gpuowl
version.inc
gpuowl-wrap.cpp
gpuowl-wrap.cl
version.new
config.txt
gpuowl.log
worktodo.txt
results.txt
results.old
sent.txt
sent.old
*.owl
*.bak
*.o
*.so
tmp/
tmp?/
cuda/
cmake-build-*/
.idea
.sconsign.dblite
.d
gpuowl-expanded.cl
