language: cpp

matrix:
  include:
  - name: "Ubuntu 20.04 (gcc)"
    os: linux
    dist: focal
    compiler: gcc
    virt: vm
  - name: "Ubuntu 20.04 (clang)"
    os: linux
    dist: focal
    compiler: clang
    virt: vm
  - name: "Windows"
    os: windows
    install: choco install python3 --version=3.8.8
    env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
    script:
      - mingw32-make exe
      - ./build-release/gpuowl-win.exe -h
  allow_failures:
  - compiler: gcc
    os: linux
    dist: bionic
  - compiler: clang
  - os: windows

install:
  - sudo apt-get -yqq update
  - sudo apt-get -yqq install cppcheck ocl-icd-opencl-dev
script:
  - make -j "$(nproc)"
  - ./gpuowl -h
  - cppcheck --enable=all --force .
  - bash -c 'shopt -s globstar; shellcheck -s bash **/*.sh || true'

