Source: gpuowl
Section: math
Priority: optional
Maintainer: Valerio Bellizzomi <selroccs1@gmail.com>
Build-Depends: debhelper (>= 10), libgmp-dev
Standards-Version: 4.2.1
Homepage: https://github.com/preda/gpuowl

Package: gpuowl
Architecture: all
Depends: debhelper (>= 10), libgmp-dev
Description: GPU Mersenne primality tester
